---
layout: default
---

<div>
  {% for post in paginator.posts %}

    {% if post.categories contains 'musicreview' %}
      <article class="musicreview">
        <a class="link" href="{{ post.url | prepend: site.baseurl }}">
          <span class="note-date">{{ post.date | date: "%b %-d, %Y %r" }}</span>
        </a>
        <div class="post-content" itemprop="articleBody">
          <img src="/assets/musicreview/{{ post.img }}">
          <h1>{{ post.title }}</h1>
          <h4>{{ post.artist }}</h4>
          {{ post.content }}
        </div>
        <p class="reviewLink"><a href="https://itunes.apple.com/us/playlist/blogged/pl.u-geZDh5R8jk4">View on Apple Music playlist</a></p>
      </article>


    {% elsif post.categories contains 'photos' %}
      <article class="photo">
        <a class="link" href="{{ post.url | prepend: site.baseurl }}">
          <span class="note-date">{{ post.date | date: "%b %-d, %Y %r" }}</span>
        </a>
        <div class="post-content" itemprop="articleBody">
          {{ post.content }}
        </div>
      </article>
    {% else %}

      <article>
        <a class="link" href="{{ post.url | prepend: site.baseurl }}">
          <span class="note-date">{{ post.date | date: "%b %-d, %Y %r" }}</span>
        </a>
        <div class="post-content" itemprop="articleBody">
          {{ post.content }}
        </div>
      </article>

    {% endif %}

  {% endfor %}
</div>

  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">➔</a>
  {% else %}
    <span class="previous"></span>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">➔</a>
  {% else %}
    <span class="next "></span>
  {% endif %}
</div>