 @mixin sanserif {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
 }

 @mixin serif {
    font-family: 'IBM Plex Serif', serif;
    font-style: normal;
    font-weight: 400;
 }

 @mixin display {
    font-family: "acta-display",sans-serif;
    font-style: normal;
    font-weight: 700;
 }


 $blue: #678EA2;
 $black: #000;
 $white: #fff;

 $small: 600px;
 $medium: 1000px;


 body {
    font-size: 18px;
    @include serif;
    color: $black;
    background-color: $white;
    @media (min-width: 1000px) {
        font-size: 1.2em;
    }
    @media (min-width: 1400px) {
        font-size: 1.4em;
    }
 }

 main {
    min-height: 50vh;
 }

 h1, h2, h3, h4, h5 {
    margin-top: 1.4em;
 }

 h1 {
    font-weight: 800;
 }

 h4 {
    @include sanserif;
 }

 p a {
    color: $black;
    text-decoration: underline;
    &:visited {
        color: $black;
    }
    &:hover {
        background-color: rgba($black, .1);
    }
}

p {
    @include serif;
    line-height: 1.5em;
}

div {
    box-sizing: border-box;
}

hr {
    border: none;
    border-bottom: 1px solid rgba($black, .1);
    margin: 2.75rem 0;

}

.container {
    width: 100%;
    max-width: 35em;
    margin: 0 auto;
    padding: 0 1em;
}

 // Header

.site-header {
    @include sanserif;
    padding: 2em 1em;
    text-align: center;
    margin-bottom: 3.5em;
    a {
        margin-right: 1em;
        font-weight: 100;
        color: $black;
        &:last-child {
            margin: 0;
        }
    }
    .heading {
        font-weight: 700;
    }
}


// Body

article {
    margin-bottom: 2.75em;
    padding-bottom: 2.75em;
    border-bottom: 1px solid rgba($black, .1);
    @include serif;
    .note-date {
        @include sanserif;
        display: block;
        font-size: .9em;
        margin-bottom: .9em;
    }
    a {
        color: $black;
        &:hover {
            text-decoration: underline;
        }
        &:visited {
            color: $black;
        }
    }
    blockquote {
        padding-right: 0;
        p {
            font-style: italic;
            font-weight: 400;
            line-height: 1.5em;
            color: $black;
        }
    }
}

article.page {
    border-bottom: none;
}

.pagination {
    padding: 1em 0 4em;
    overflow: hidden;
    @include sanserif;
    a {
        color: $black;
        font-size: 1.25em;
        font-weight: 300;
        &:hover {
            text-decoration: none;
        }
    }
    .previous {
        float: right;
    }
    .next {
        float: left;
        transform: rotate(180deg);
    }
}

footer {
    margin-top: 5rem;
    .sociallinks {
        text-align: center;
        margin-bottom: 4rem;
        a {
            margin-right: 1.25em;
            &:hover {
                text-decoration: none;
                svg {
                    path, g {
                        color: $blue;
                    }
                }
            }
            &:last-child {
                margin-right: 0;
            }
            svg {
                height: 1em;
                path {
                    fill: $black;
                }
            }
        }
    }
    .myphoto {
        max-width: 15em;
        margin: 0 auto;
    }
}


.aboutLinks {
    margin-top: 10em;
    text-align: center;
    a {
        display: block;
        @include sanserif;
        font-weight: 100;
    }
}


/* ----- Quotes ----- */

.quotes {
    h3 {
        @include sanserif;
        font-size: 1rem;
    }
}


/* ----- CV ----- */

.CV {
    .date {
        @include sanserif;
        font-size: 1rem;
    }
}


/* ----- Portfolio ----- */

#cards {
    article {
        border-bottom: none;
    }
}


/* ----- Music Review ----- */

article.musicreview {
    img {
        margin-bottom: 1em;
        @media (min-width: 450px) {
            width: 25%;
            float: left;
            margin-right: 1em;
        }
    }
    h1 {
        margin-bottom: 0;
    }
    h4 {
        margin-top: 0;
    }
    .reviewLink {
        @include sanserif;
        font-weight: 100;
    }
}

