/**
 * Site header
 */

 @mixin sanserif {
    font-family: 'Alegreya Sans', sans-serif;
 }

 @mixin serif {
    font-family: 'Crimson Text', serif;
 }

 body {
    font-size: 18px;
    @include serif;
 }

 main {
    min-height: 100vh;
 }

.site-header {
    @include sanserif;
    // Positioning context for the mobile navigation icon
    position: relative;
    padding: 2em 2em .5em;
    margin-bottom: 2em;
    /* box-shadow: 0px 3px 22px rgba(0, 0, 0, 0.3); */
    .container {
        border-bottom: 1px solid black;
    }
    a, a:visited {
        color: black;
    }
    @media (min-width: 600px) {
        font-size: .5em;
        margin-bottom: 12em;
        padding: 4em 4em .5em;
    }
}

.myphoto {
    background-image: url(/assets/portrait_by-Williams.png);
    height: 5em;
    width: 5em;
    margin-bottom: 0;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: inline-block;

    @media (min-width: 600px) {
        position: absolute;
        left: 50%;
        margin-left: -2.5em;
        top: 4.5em;
    }
}

.site-title {
    font-size: 4em;
    display: inline-block;
    margin: -.75em 0 0 .25em;
    vertical-align: middle;
    font-weight: 800;
    color: #000;
    &:visited {
        color: #000;
    }
    &:hover {
        text-decoration: none;
    }
    @media (min-width: 600px) {
        margin-top: 0;
    }
}

.bfus-link {
    font-size: 16px;
    position: absolute;
    top: 1em;
    right: 1em;
    @media (min-width: 600px) {
        display: inline-block;
        float: right;
        margin-top: 2.25em;
        margin-right: 25px;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

.pagination {
    padding: 4em 20px 8em;
    overflow: hidden;
    @include sanserif;
    .previous {
        float: right;
    }
    .next {
        float: left;
    }
    @media (max-width: 500px) {
        /* box-shadow: 0px -1px 22px rgba(0, 0, 0, 0.3); */
    }
}

footer {
    display: none;
}
