/**
 * Personal styles
 */

 @mixin Anton {
 	font-family: 'Anton', sans-serif;
 }

body {
	background: $gray;
}

main {
	background: white;
}

p {
	font-family: serif;
	font-size: 1.2em;
}

div {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 40em;
	margin: 0 auto;
}

article {
	padding: 1em;
	margin: 1em 0;
	border-bottom: 1px solid $gray;
	&:last-child {
		border: none;
	}
	.note-date {
		@include Anton;
		font-size: 1em;
		letter-spacing: .06em;
		margin-bottom: .5em;
		display: inline-block;
		color: #678EA2;
	}
}

a.link {
	color: lighten(black, 80%);
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

// Header

.site-header {
	border-bottom: 1px solid #000;
}